<body>
    <div>
        <h1>{{title}}</h1>

        <app-edit-person [personToEditFromAppComponent]="personToEdit" (personToChangeFromEdit)="updatePerson($event)" (cancelEditMode)="$event" ></app-edit-person>

        <legend>
            <h4>Personen</h4>
        </legend>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Alter</th>
                    <th>Gesamt %</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of persons">
                    <td>{{person.name}}</td>
                    <td>{{person.age}}</td>
                    <td><button (click)="editPerson(person)" class="btn btn-light">Edit</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>